.container {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

h1 {
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h2 {
    font-size: 18px;
    color: #0d0d0d;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: 400;
}

button {
    padding: 10px 20px 10px 20px;
    border: solid 2px blue;
    background-color: lightblue;
    border-radius: 4px;
}

button:hover {
    background-color: rgb(189, 233, 247);
}